<% layout('layouts/boilerplate') %>
    <h1>Edit the details for <%= foundCamp.title %> </h1>

    <form method="POST" action="/campgrounds/<%= foundCamp.id %>?_method=DELETE">
        <!-- <button type="submit" class="btn btn-primary">Delete Campground</button> -->
        <button type="submit" class="btn btn-outline-danger">Delete Campground</button>
    </form>

    <br>

    <form method="POST" action="/campgrounds/<%= foundCamp.id %>?_method=PUT" class="needs-validation"  enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="campgroundName" class="form-label"> Name </label>
            <input name="title" type="text" value="<%= foundCamp.title %>" class="form-control" id="campgroundName" required/>
        </div>
        <div class="mb-3">
            <label for="campgroundDescription" class="form-label"> Description </label>
            <input name="description" type="text" value="<%= foundCamp.description %>" class="form-control" id="campgroundDescription" required/>
        </div>
        <div class="mb-3">
            <label for="campgroundPrice" class="form-label"> Price </label>
            <input name="price" type="text" value="<%= foundCamp.price %>" class="form-control" id="campgroundPrice" required/>
        </div>
        <div class="mb-3">
            <label for="campgroundLocation" class="form-label"> Location </label>
            <input name="location" type="text" value="<%= foundCamp.location %>" class="form-control" id="campgroundLocation" required/>
        </div>
        <div class="mb-3">
            <label for="campgroundImages">Add more images</label>
            <input id="campgroundImages" type="file" name="images" multiple>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit Changes</button> -->
        <button type="submit" class="btn btn-outline-primary">Submit Changes</button>
    </form>

    <br>

    <a href="/campgrounds">Go back to all camps</a>  

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()

    </script>